<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>60972295944-itclfc32ef9f89mr7rq2rj0ebepg8f40.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.60972295944-itclfc32ef9f89mr7rq2rj0ebepg8f40</string>
	<key>API_KEY</key>
	<string>AIzaSyC10ZAVd0aV7KLOYl_mNmo1l0_q4h1m36A</string>
	<key>GCM_SENDER_ID</key>
	<string>60972295944</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.MO.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-18f60</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-18f60.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:60972295944:ios:b81580dc0b49b100fd6ebd</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-18f60.firebaseio.com</string>
</dict>
</plist>